 /* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 320px) and (max-width: 575.98px) { 
.responsive{
  background: #1abc9c;
}
 }
 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  .responsive{
    background: #2ecc71;
  }
 }
 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
.responsive{
  background: #3498db;
}
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
.responsive{
  background: #9b59b6;
}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1400px) {
.responsive{
  background: #34495e;
}
 }

/* Extra Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) { 
.responsive{
  background: #f39c12;
}
}